/*
TODO 2j
The "I watched it" button should fill the entire width of its container, 
and should be 10px below the neighbor element above it
*/


/*
TODO 3c
Apply text-align: center; to the watchlist
*/

.row {
	display: flex;
	flex-direction: row;
}

.col-1 {
	width: 41.67%;
}

.col-2 {
	width: 58.33%;
}

.btn {
	width: 100%;
	margin-top: 10px;
}

.list-inline {
	width: 160px;
	margin: 0, 5, 5, 0;
	padding: 0;
}

.jumbotron {
	justify-content: center;
	margin-bottom: 1%;
}

.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}

ul {
	padding-left: 0px;
}

button:disabled {
	opacity: 0.5;
}

button, input[type="button"] {
	padding: 10px;
	background: orange;
	border-width: 0px;
	color: white;
}

#section-browse li {
	margin-bottom: 40px;
	list-style: none;
}

@media screen and (max-width: 769px) {
	.row {
		flex-direction: column;
	}
}